<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <flagbit_flysystem>
            <general>
                <enable_file_compare>1</enable_file_compare>
            </general>
            <local>
                <lock>1</lock>
            </local>
            <ftp>
                <port>21</port>
                <passive>1</passive>
                <ssl>1</ssl>
                <timeout>30</timeout>
            </ftp>
            <sftp>
                <port>22</port>
                <timeout>10</timeout>
                <directoryPerm>0744</directoryPerm>
            </sftp>
        </flagbit_flysystem>
    </default>
</config>

