.flysystem-browser {
  .main-col {
    .breadcrumbs {
      list-style: none;
      padding-left: 0;

      li {
        display: inline-block;
        margin: 0 0.5rem 0.5rem 0;

        &:after {
          content: '';
          margin: 0 0.5rem 0 0;
        }
      }
    }
  }
}

.flysystem-image-preview {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #000;

  .preview-header {
    height: 30px;
  }

  .preview-wrapper {
    overflow: auto;
  }
}